@model Client.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="lib/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary" style="padding-top:5%">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-15">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                                <div class="card-body">
                                    <form class="row g-3" asp-action="Register">
                                        <div class="col-md-12">
                                            <label asp-for="NIK" class="form-label"></label>
                                            <input asp-for="NIK" class="form-control" />
                                            <span asp-validation-for="NIK" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <label asp-for="FirstName" class="form-label"></label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="LastName" class="form-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="Gender" class="form-label"></label>
                                            <input asp-for="Gender" class="form-control" />
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="Email" class="form-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="PhoneNumber" class="form-label"></label>
                                            <input asp-for="PhoneNumber" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="HiringDate" class="control-label"></label>
                                            <input asp-for="HiringDate" class="form-control" />
                                            <span asp-validation-for="HiringDate" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="BirthDate" class="control-label"></label>
                                            <input asp-for="BirthDate" class="form-control" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="DepartmentName" class="control-label"></label>
                                            <input asp-for="DepartmentName" class="form-control" />
                                            <span asp-validation-for="DepartmentName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="PositionName" class="control-label"></label>
                                            <input asp-for="PositionName" class="form-control" />
                                            <span asp-validation-for="PositionName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="AddressName" class="control-label"></label>
                                            <input asp-for="AddressName" class="form-control" />
                                            <span asp-validation-for="AddressName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="CityName" class="control-label"></label>
                                            <input asp-for="CityName" class="form-control" />
                                            <span asp-validation-for="CityName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="PostalCode" class="control-label"></label>
                                            <input asp-for="PostalCode" class="form-control" />
                                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="CountryName" class="control-label"></label>
                                            <input asp-for="CountryName" class="form-control" />
                                            <span asp-validation-for="CountryName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="ConfirmPassword" class="control-label"></label>
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                            <a asp-action="Index" class="btn btn-danger">Back to List</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="lib/dist/js/scripts.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
