@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1 style="font-family:sans-serif; text-align:center">Data Staff</h1>
<div class="plus" id="plus"></div>


<!-- Modal Create -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Data Staff</h1>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="create" method="post" class="row g-3">
                    <div class="col-md-12">
                        <label for="nik">NIK</label>
                        <input class="form-control" type="text" id="nik" name="nik" placeholder="NIK">
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name">
                    </div>
                    <div class="col-md-6">
                        <label for="birthDate">Birthdate</label>
                        <input class="form-control" type="datetime-local" id="birthDate" name="birthDate" placeholder="Birthdate" value="${document.lastModified}">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <label for="active">Active</label>
                        <input class="form-control" type="text" id="active" name="active" placeholder="Active">
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber">Phone Number</label>
                        <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
                    </div>
                    <div class="col-md-6">
                        <label for="lastUpdate">Last Update</label>
                        <input class="form-control" type="datetime-local" id="lastUpdate" name="lastUpdate" placeholder="Last Update" value="${document.lastModified}">
                    </div>
                    <div class="col-md-6">
                        <label for="pictureUrl">Picture Url</label>
                        <input class="form-control" type="text" id="pictureUrl" name="pictureUrl" placeholder="Picture Url">
                    </div>
                    <div class="col-md-6">
                        <label for="storeId">Store Id</label>
                        <input class="form-control" type="text" id="storeId" name="storeId" placeholder="Store Id">
                    </div>
                    <div class="col-md-6">
                        <label for="addressId">Address Id</label>
                        <input class="form-control" type="text" id="addressId" name="addressId" placeholder="Address Id">
                    </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="staff">Submit</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="exampleModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Data Staff</h1>
                <button type="button" data-bs-dismiss="modal"><i class="fa-regular fa-rectangle-xmark"></i></button>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="create" class="row g-3">
                    <div class="col-md-12">
                        <label for="id">NIK</label>
                        <p type="text" id="update_id" name="id" placeholder="NIK">
                    </div>
                    <div class="col-md-6">
                        <label for="firstName">First Name</label>
                        <p type="text" id="update_firstName" name="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Last Name</label>
                        <p type="text" id="update_lastName" name="lastName" placeholder="Last Name">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <p type="text" id="update_email" name="email" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <label for="active">Active</label>
                        <p type="text" id="update_active" name="active" placeholder="Active">
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber">Phone Number</label>
                        <p type="text" id="update_phoneNumber" name="phoneNumber" placeholder="Phone Number">
                    </div>
                    <div class="col-md-6">
                        <label for="lastUpdate">Last Update</label>
                        <p type="datetime" id="update_lastUpdate" name="lastUpdate" placeholder="Last Update" value="${document.lastModified}">
                    </div>
                    <div class="col-md-6">
                        <label for="pictureUrl">Picture Url</label>
                        <p type="text" id="update_pictureUrl" name="pictureUrl" placeholder="Picture Url">
                    </div>
                    <div class="col-md-6">
                        <label for="storeId">Store Id</label>
                        <p type="text" id="update_storeId" name="storeId" placeholder="Store Id">
                    </div>
                    <div class="col-md-6">
                        <label for="addressId">Address Id</label>
                        <p type="text" id="update_addressId" name="addressId" placeholder="Address Id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/staff.js" asp-append-version="true"></script>
}